body {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.3;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.wraper {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2em 2em;  
}

p, 
h1,
h2,
h3,
h4,
h5,
h6 { color: #333; }

p { color: #333; }

a {
    color: #999;
    text-decoration: none;
}

li { list-style: none; }

.header {
    margin: 2rem 0 3rem 0;
}

.header-main h1,
.header-main h2 {
    margin: 0 0 .1em;
}

.nav-main {
    max-height: 2rem;
    margin: 0 0 1rem;
    padding: 1rem 0 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    transform: translate3d(0, 0, 0);
}

.nav-main ul {
    margin: 0;
    padding: 0;
}

.nav-main li {
    line-height: 2rem;
    margin-right: 1em;
    /*background-color: red;
    margin: 1px;*/
}

.nav-current a {
    color: #333;
}


.post {
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
}
